[Unit]
Description=Radio.local stream controller
After=network.target

[Service]
Type=simple
ExecStart=/home/bailey/.nvm/versions/node/v24.15.0/bin/node /home/bailey/radio/server.js
WorkingDirectory=/home/bailey/radio
Restart=always
RestartSec=5
User=root
Environment=SDL_AUDIODRIVER=alsa

[Install]
WantedBy=multi-user.target
