[Unit]
Description=Radio.local stream controller
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node /home/USER/radio/server.js
WorkingDirectory=/home/USER/radio
Restart=always
RestartSec=5
User=root
Environment=SDL_AUDIODRIVER=alsa

[Install]
WantedBy=multi-user.target
